body {
  background: rgb(255, 255, 255);
  color: #EE6B14;
}

.App {
  text-align: center;
  padding: 5%; 
}

.App-title {
  font-size: 26px;
  font-weight: bold;
}

.App button {
  margin: 10px auto;
  font-size: 16px;
  color: #000;
  background: #D9FF00;
}

.App input {
  color: #176803;
  font-size: 20px;
}

.party-popper {
  width: 310px;
}

.fade {
  animation-name: fade-in;
  animation-duration: 2s;
}

.age-stats {
  opacity: 100;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 100}
}